html, body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #e4ecf3, #f5f9fc, #e4ecf3);
    background-size: cover; /* Example additional property */
    min-height: 100vh;
    min-width: 100vw;
    }

* {
    margin: 0;
    padding: 0;
}