html, body {
    margin: 0;
    padding: 0;
    background: $portfolio-background;
    background-size: cover; /* Example additional property */
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    }

* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-optical-sizing: auto;
}

.title {
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $primary-text-color;
    height: 100vh;

    @include breakpoint(small-only) {
        font-size: 60px;
        align-content: center;
    }
}

.exptitle {
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $primary-text-color;
    height: 100vh;

    @include breakpoint(small-only) {
        font-size: 50px;
        align-content: center;
    }
}
.inviewAnalyzer {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: transparent;
    left: 50%;
    top: 50%;
}

