
@mixin breakpoint($breakpoint) {
    @if $breakpoint == 'medium' {
        @media (min-width: $bp-medium) {
            @content;
        };
    } @else if $breakpoint == 'large' {
        @media (min-width: $bp-large) {
            @content;
        }
    } @else if $breakpoint == 'small-only' {
        @media (max-width : $bp-max-small-only) {
            @content;
        } 
    } @else if $breakpoint == 'small' {
        @media (min-width : $bp-max-small-only) and (max-width: $bp-max-small-only) {
            @content;
        } 
    } @else if $breakpoint == 'small-medium' {
        @media (min-width : $bp-small-medium) {
            @content;
        } 
    }  @else if $breakpoint == 'medium-large' {
        @media (min-width : $bp-medium-large) {
            @content;
        } 
    } 
    @else if $breakpoint == 'small-mobile' {
        @media (max-width : $bp-small-small) {
            @content;
        } 
    } 
     @else {
        @error 'No value could be retrived for ' + $breakpoint;
    }
}


@mixin glassMorphismTheme {
    background: #00cc660e;
// box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
}

@mixin gradientBorder($color1, $color2, $borderWidth: 2px, $borderRadius: 16px) {
    border: $borderWidth solid transparent;
    border-radius: $borderRadius !important;

    // Apply gradient border with border-image
    border-image: linear-gradient(to right, $color1, $color2) 1;

    // Glassmorphism styles
    @include glassMorphismTheme;

    // Ensure border-radius works properly
    overflow: hidden; 
}

@mixin titleBtn {
    padding: 10px 30px;
    font-size: 25px;
    border: 1px solid $primary-text-color;
    border-radius: 6px;
    color: $primary-text-color;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-bottom: 20px;
}
