.navbar-main-container {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $grey-border;
    border-radius: 50px;
    top: 20px;
    width: auto;
    max-width: 1200px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    text-wrap: nowrap;
    padding: 0 20px;

    @include breakpoint(small-only) {
        padding: 0px 10px;
        width: auto;
        left: 20px;
        right: 20px;
        // .navbar-menuWrapper {
        //     display: none;
        // }
        // .hamburger-icon {
        //     display: block;
        // }
    }
.navLogoWrapper {
    display: flex;
    align-items: center;
}
    .mobilenavRight {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        color: $black;
    }
    .navbarmenuwrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        color: $grey-text-color;
        font-weight: 500;
        &>li {
            list-style: none;
            cursor: pointer;
        }
    }
    .navbar-menuWrapper {
        @include glassMorphismTheme;
        display: flex;
        list-style: none;
        flex-direction: row;
        gap: 20px;
        width: 120px;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 45px;
        border: 1px solid $grey-border;
        border-radius: 10px;
        padding: 10px;
        right: 0;
        align-items: end;
        & > li {
            color: $black;
            font-size: 20px;
            cursor: pointer;
            font-weight: 500;

            @include breakpoint(small-only) {
                font-size: 14px;
            }
        }

        // &.open {
          
        // }
    }

    .themeToggleWrapper {
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    // .hamburger-icon {
    //     display: none;
    //     font-size: 24px;
    //     cursor: pointer;
    // }
}

.footer-main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $grey-border;
    position: fixed;
    bottom: 0;
    width: auto;
    max-width: 1200px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: $black;

    @include breakpoint(small-only) {
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .footerLeftSide {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 10px;
    }
}
