$primary-text-color: var(--primary-text-color);
$grey-text-color: var(--grey-text-color);
$white: var(--white);
$grey-border: var(--grey-border);

:root {
    --primary-text-color: #00cc66;
    --grey-text-color: #787c8f;
    --white: white;
    --grey-border: #dcdee0;
}